<div class="container">
    {{!-- <h1>Botkit CMS</h1> --}}
    <div class="looa-logo">
        <img src="/preview/symbols-logo-looa.png" alt="looa-logo" class="logo"/>
    </div>
    
    <div class="content">
        <img src="/preview/symbols-robot.png" alt="robot" class="robot" />
        <img src="/preview/symbols-paralax-element.png" alt="paralax-element" class="paralax-background"/>
        <br>
        <div>
            <a href="/admin" style="text-align: center;">
                <img src="/preview/symbols-cta.png" alt="button" class="button-goTo-admin"/>
            </a>
        </div>
        <div>
            <img src="/preview/symbols-hover-element.png" alt="bg-button" class="bg-button"/>
        </div>
    </div>
    
    {{!-- <a href="/admin">Access admin tools</a> --}}
</div>
<link rel='stylesheet' type='text/css' href='css/style.css' />